/* Footer style */
footer {align-items: center; background-color: #FFFFFF; bottom: 0; height: 60px; position: relative; width: 100%; justify-content: center; display: flex; border-top: 1px solid #CCCCCC;}
