/* Filters style */
.filters {background-color:  #FFFFFF; border: 1px solid #ddd; border-radius: 4px; height: 70px; width: 100%;}
.filters button {font-size: 18px; background: #FF5A5F; color: #FFFFFF; height: 48px; width: 20%; border: none; border-radius: 4px; margin-right: 30px; align-items: center;}
.filters button:hover {opacity: 0.9; filter: alpha(opacity=90);}
